<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelectedCampaigns()" [disabled]="!selectedCampaigns || !selectedCampaigns.length"></button>
    </ng-template>

    <ng-template pTemplate="right">

    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="students" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'lastname','email']"
    responsiveLayout="scroll" [(selection)]="selectedStudents" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Administrar Estudiantes</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value , 'contains')"
            placeholder="Buscar..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="Name">Nombre <p-sortIcon field="Name"></p-sortIcon>
        </th>

        <th pSortableColumn="Lastname">Apellido <p-sortIcon field="Lastname"></p-sortIcon>
        </th>
        <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon>
        </th>
        <th>Edad </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
      <tr>
        <td>
          <p-tableCheckbox [value]="student"></p-tableCheckbox>
        </td>
        <td>{{student.name}}</td>

        <td>{{student.lastname }}</td>
        <td>

          <div>{{student.email}}</div>

        </td>
        <td>{{student.age}}</td>

        <td>
          <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCampaign(student)"></button> -->
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deleteStudent(student)"></button>
          <button pButton pRipple icon="pi pi-chart-bar" class="p-button-rounded p-button-warning" label="Actualizar"
            (click)="editStudent(student)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{students ? students.length : 0 }} estudiantes.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="studentuDialog" [style]="{width: '470px', minHeight:'95%'}" header="Estudiante"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field mt-2">
      <label for="Name">Nombre de estudiante</label>

      <input type="text" pInputText id="Name" [(ngModel)]="student.name" required autofocus />

    </div>
    <div class="field mt-3">
      <label for="Lastname">Apellido de estudiante</label>
      <input type="text" pInputText id="Lastname" [(ngModel)]="student.lastname" required autofocus />
    </div>
    <div class="field mt-2">
      <label for="Age">Edad de estudiante</label>
      <input type="number" pInputText id="Age" [(ngModel)]="student.age" required autofocus />
      <small class="p-error" *ngIf="submitted && !student.age">Nombre es requerido.</small>
    </div>

    <div class="field mt-2">
      <label for="Email">Email</label>
      <input type="email" pInputText id="Email" [(ngModel)]="student.email" required autofocus />
      <small class="p-error" *ngIf="submitted && !student.email">Email es requerido.</small>
    </div>

    <!-- <div class="field">
            <label for="singers">Cantantes</label>
            <p-multiSelect [options]="singers" [(ngModel)]="student.singers" display="chip"></p-multiSelect>
        </div> -->
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check"
       class="p-button-text"
      (click)="saveStudent()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="studentDialog" [style]="{width: '470px', minHeight:'95%'}" header="Estudiante"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field mt-2">
      <label for="Name">Nombre de estudiante</label>

      <input type="text" pInputText id="Name" [(ngModel)]="student.Name" required autofocus />

    </div>
    <div class="field mt-3">
      <label for="Lastname">Apellido de estudiante</label>
      <input type="text" pInputText id="Lastname" [(ngModel)]="student.Lastname" required autofocus />
    </div>
    <div class="field mt-2">
      <label for="Age">Edad de estudiante</label>
      <input type="number" pInputText id="Age" [(ngModel)]="student.Age" required autofocus />
      <small class="p-error" *ngIf="submitted && !student.Age">Nombre es requerido.</small>
    </div>

    <div class="field mt-2">
      <label for="Email">Email</label>
      <input type="email" pInputText id="Email" [(ngModel)]="student.Email" required autofocus />
      <small class="p-error" *ngIf="submitted && !student.Email">Email es requerido.</small>
    </div>

    <!-- <div class="field">
            <label for="singers">Cantantes</label>
            <p-multiSelect [options]="singers" [(ngModel)]="student.singers" display="chip"></p-multiSelect>
        </div> -->
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check"
       class="p-button-text"
      (click)="saveStudent()"></button>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="statsDialog" [style]="{width: '80%', minHeight:'95%'}" header="Detalle de estudiante"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <app-stats [studentId]="studentId"></app-stats>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStudent()"></button>
    <!-- <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCampaign()"></button> -->
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
